@page
@model Asm02_KhanhHCE150703.Pages.MovieGenre.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieGenres[0].MovieGenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MovieGenres) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieGenreName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MovieGenreID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MovieGenreID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MovieGenreID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
